// Color Header
$colorBackgroundHeader: #000;
// Color Main
$colorBackgroundMain: #121212;
// Color Main -CDs
$colorBackgroundCds: #000;
$colorTitle: #FFF;
$colorAuthor: darken($colorTitle, 50%);
$colorYear: darken($colorTitle, 70%);
// Color Generic
$colorScrollbar: #b3b3b3;

// Size
$maxWrapperWidthSize: 1100px;
