// ****************************************
// Header
// ------
// Color Header
$colorBackgroundHeader: #000;
// ****************************************

// ****************************************
// Main
// ----
// Color Main
$colorBackgroundMain: #121212;
// Color Main -CDs
$colorBackgroundCds: #000;
$colorTitle: #FFF;
$colorAuthor: darken($colorTitle, 50%);
$colorYear: darken($colorTitle, 70%);
// Color Generic
$colorScrollbar: #5E5A5C;
// Font CDs
$fontTitle: "Circular Bold";
$fontAuthor: "Circular Book";
$fontYear: "Circular Light";
// ****************************************

// ****************************************
// Size
// ----
// Size Wrapper
$maxWrapperWidthSize: 1100px;
// ****************************************
